@tailwind base;
@tailwind components;
@tailwind utilities;

html{
  height: 100%;
}

body {
  height: 100%;
  overflow: visible;
  background: #fcfcff;
}

.menuitems {
  @apply py-2 px-3 cursor-pointer hover:border-b hover:text-indigo-400 hover:border-indigo-400 duration-200 ease-in 
}

.menuitems.active{
  @apply border-b text-indigo-400 border-indigo-400
}


.tag{
  @apply  px-2 mr-2 text-sm text-gray-400 badge badge-outline rounded-lg
}